// アプリ共通の指定

* {
  box-sizing: border-box;
}

body {
  color: $mainFontColor;
}

@mixin main-container {
  padding: 80px 20px 60px;
  width: 100%;
  min-height: 100vh;
}

@mixin main-fontstyle {
  font-family: $headFontfamily;
  letter-spacing: 2px;
}

@mixin modal-cover {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: .7;
  display: none;
}

@mixin modal-form {
  position: absolute;
  z-index: 12;
  background-color: $mainColorWhite;
  max-width: 450px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto;
  border-radius: 3px;
  border: 1px solid $mainColorSkyblue;
  text-align: right;
  display: none;
}

@mixin modal-close {
  font-size: 28px;
  display: inline-block;
  cursor: pointer;
  margin: 3px 20px 0 0;
  color: $fontBlueColor;
}

@mixin modal-close-text {
  color: $mainColorSkyblue;
  margin-top: 30px;
  span {
    cursor: pointer;
  }
}

@mixin modal-form-content {
  text-align: center;
  color: $fontBlueColor;
  padding: 0 20px 20px;
}

@mixin modal-form-head {
  padding-bottom: 5px;
  border-bottom: 1px solid $fontBlueColor;
  margin-top: 0;
  margin-bottom: 10px;
}

@mixin modal-submit-btn {
  height: 40px;
  background-color: $mainColorSkyblue;
  color: $mainColorWhite;
  box-shadow: $mainBoxShadow;
  border-style: none;
  border-radius: 10px;
}

@mixin icon-format {
  background-color: $backBlueColor;
  color: $mainColorSkyblue;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: solid 1px $mainColorSkyblue;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.5em;
  }
}

@mixin pagenate-icon {
  display: inline-block;
  margin: 5px;
  a {
    font-size: 1.7em;
    color: $mainColorSkyblue;
    text-decoration: none;
  }
}