// カラー
$mainFontColor: #3f3f3f;
$mainColorWhite: #fff;
$calendarFontRed: #ff3333;
$calendarFontBlue: #3347ff;
$calendarBackRed: #ffe3e3;
$calendarBackBlue: #e6f2ff;
$calendarNotCurrent: #dddddd;
$inputBorderColor: #b3b3b3;

// オパシティ
$hoverOpacity: 0.7;

// boxShadow
$mainBoxShadow: 0 0 5px rgba(0, 0, 0, .3);

// width height
$smartHeaderheight: 50px;
$pcHeaderheight: 60px;
