// カラー
$mainFontColor: #3f3f3f;
$mainColorWhite: #fff;
$mainColorRed: #ff3333;
$calendarFontBlue: #3347ff;
$calendarBackRed: #ffe3e3;
$calendarBackBlue: #e6f2ff;
$calendarNotCurrent: #dddddd;
$inputBorderColor: #b3b3b3;
$formBorderColor: #efefef;
$mainColorSkyblue: #36c1ff;
$fontBlueColor: #0d47a1;
$backBlueColor: rgba(218, 244, 255, 0.9);

// オパシティ
$hoverOpacity: 0.7;

// boxShadow
$mainBoxShadow: 0 0 5px rgba(0, 0, 0, .3);

// width height
$smartHeaderheight: 50px;
$pcHeaderheight: 60px;

// margin padding
$tabletPadding: 80px 50px;
$pcPadding: 90px 80px;

// border
$iconBorder: 1px solid $mainColorSkyblue;

// web fonts
$headFontfamily: 'Oswald', sans-serif;
