<div class="outfit-modal-cover"></div>
<div class="outfit-modal">
  <span class="outfit-modal-close"><i class="fa fa-times"></i></span>
  <div class="outfit-modal-form">
    <h2>Outfit 追加</h2>
  </div>
</div>