.outfit-modal-cover {
  @include modal-cover;
}

.outfit-modal {
  @include modal-form;
  height: 700px;
  .outfit-modal-close {
    @include modal-close;
  }
  .outfit-modal-close:hover {
    opacity: $hoverOpacity;
  }
  .outfit-modal-form {
    @include modal-form-content;
    h2 {
      @include modal-form-head;
    }
    form {
      text-align: center;
      .outfit-error-text {
        color: $mainColorRed;
      }
      .outfit-form-icon {
        color: $mainColorSkyblue;
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 3px;
        img {
          width: 80%;
          cursor: pointer;
        }
        img:hover {
          opacity: $hoverOpacity;
        }
        i {
          cursor: pointer;
          font-size: 8em;
          padding: 30px;
          border-radius: 10%;
          border: $iconBorder;
          background-color: $backBlueColor;
          opacity: 0.8;
          box-shadow: $mainBoxShadow;
        }
        i:hover {
          color: $fontBlueColor;
        }
        span {
          display: block;
        }
        .outfit-form-image {
          display: none;
        }
      }
      .outfit-form-submit {
        width: 70%;
        margin-top: 30px;
        @include modal-submit-btn;
      }
      .outfit-form-submit:hover {
        opacity: $hoverOpacity;
      }
    }
    .outfit-close-text {
      @include modal-close-text;
    }
  }
}