// スマホサイズ
header {
  width: 100%;
  height: $smartHeaderheight;
  padding: 0 10px;
  background-color: $backBlueColor;
  position: fixed;
  z-index: 10;
  .header-item {
    display: flex;
    justify-content: space-between;
    h3 {
      @include main-fontstyle;
      font-size: 1.5em;
      margin: 0;
      line-height: $smartHeaderheight;
      a {
        color: $mainColorSkyblue;
        text-decoration: none;
      }
      a:hover {
        color: $fontBlueColor;
      }
    }
    .header-menu {
      text-align: right;
      &__icon {
        cursor: pointer;
        font-size: 25px;
        line-height: $smartHeaderheight;
        color: $fontBlueColor;
      }
      &__icon:hover {
        opacity: $hoverOpacity;
      }
      &__block {
        background-color: $backBlueColor;
        opacity: 0.8;
        font-size: 18px;
        box-shadow: $mainBoxShadow;
        text-align: center;
        @include main-fontstyle;
        a {
          text-decoration: none;
        }
        li {
          border: solid 1px $mainColorSkyblue;
          padding: 5px 15px;
          color: $mainColorSkyblue;
          cursor: pointer;
          position: relative;
          i {
            float: right;
            margin-top: 5px;
          }
          .header-plus {
            position: absolute;
            bottom: 0;
            right: 5px;
          }
        }
        li:hover {
          color: $fontBlueColor;
        }
      }
    }
    .header-btn {
      display: none;
      ul {
        display: flex;
        li {
          line-height: $pcHeaderheight;
          margin-left: 25px;
          span {
            @include main-fontstyle;
            font-size: 1.2em;
            color: $mainColorSkyblue;
            cursor: pointer;
          }
          span:hover {
            color: $fontBlueColor;
          }
          a {
            color: $mainColorSkyblue;
            text-decoration: none;
          }
          a:hover {
            color: $fontBlueColor;
          }
        }
      }
    }
  }
}

// タブレットサイズ
@media (min-width: 671px) {
  header {
    padding: 0 50px;
  }
}

// PCサイズ
@media (min-width: 1025px) {
  header {
    height: $pcHeaderheight;
    padding: 0 80px;
    .header-item {
      h3 {
        line-height: $pcHeaderheight;
        font-size: 25px;
        margin-left: 10px;
      }
      .header-menu {
        display: none;
      }
      .header-btn {
        display: block;
      }
    }
  }
}
