// スマホサイズ
.coordinate_icon {
  @include icon-format;
}
.coordinate_icon:hover {
  color: $fontBlueColor;
}

// タブレットサイズ
@media (min-width: 671px) {
  .coordinate_icon {
    width: 80px;
    height: 80px;
    i {
      font-size: 2.3em;
    }
  }
}

// PCサイズ
@media (min-width: 1025px) {
  .coordinate_icon {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    i {
      font-size: 2.5em;
      padding-bottom: 3px;
    }
    .text-outfit:before {
      content: "Closet";
      @include main-fontstyle;
      font-size: 1.2em;
    }
    .text-login:before {
      content: "LogIn";
      @include main-fontstyle;
      font-size: 1.2em;
    }
  }
}