// スマホサイズ
.link-icon-post {
  @include icon-format;
  bottom: 85px;
  right: 20px;
  i {
    position: relative;
  }
  span {
    position: absolute;
    bottom: 8px;
    right: 2px;
  }
}
.link-icon-post:hover {
  color: $fontBlueColor;
}
.link-icon {
  @include icon-format;
  bottom: 25px;
  right: 20px;
}
.link-icon:hover {
  color: $fontBlueColor;
}

// タブレットサイズ
@media (min-width: 671px) {
  .link-icon-post {
    @include tablet-icon-format;
    bottom: 25px;
    right: 120px;
    span {
      bottom: 15px;
      right: 8px;
      font-size: 1.2em;
    }
  }
  .link-icon {
    @include tablet-icon-format;
  }
}

// PCサイズ
@media (min-width: 1025px) {
  .link-icon-post {
    @include pc-icon-format;
    right: 130px;
    span {
      bottom: auto;
      right: 15px;
      font-size: 1.3em;
    }
    .text-new-post:before {
      content: "Calendar";
      @include icon-text-style;
    }
  }
  .link-icon {
    @include pc-icon-format;
    .text-outfit:before {
      content: "Closet";
      @include icon-text-style;
    }
    .text-login:before {
      content: "LogIn";
      @include icon-text-style;
    }
  }
}