<header>
  <div class="header-item">
    <h3><%= link_to "Goutfit", root_path %></h3>
    <div class="header-menu">
      <i class="fas fa-bars" id="show"></i>
      <div class="header-menu__block">
        <ul>
          <li class="sign_btn sign-in-btn">ログイン</li>
          <li class="sign_btn sign-up-btn">新規登録</li>
        </ul>
      </div>
    </div>
    <div class="header-btn">
      <ul>
        <li><span class="sign_btn sign-in-btn">ログイン</span></li>
        <li><span class="sign_btn sign-up-btn">新規登録</span></li>
      </ul>
    </div>
  </div>
</header>