<header>
  <div class="header-item">
    <h3>Goutfit</h3>
    <div class="header-menu">
      <i class="fas fa-bars" id="show"></i>
      <div class="header-menu__block">
        <ul>
          <li><%= link_to "ログイン", "#" %></li>
          <li><%= link_to "新規登録", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>