// スマホサイズ
.container {
  @include main-container;

  // コーディネートプレビュー
  .style-img {
    margin: 0 auto;
    margin-bottom: 15px;
    img {
      max-width: 200px;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
      border-radius: 3px;
    }
    &__logo {
      text-align: center;
    }
    &__date {
      text-align: center;
      color: #8b8b8b;
      font-size: 14px;
    }
    .no-today-outfit {
      text-align: center;
      font-size: 1.2em;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      a {
        text-decoration: none;
        color: $mainColorSkyblue;
        font-size: 1.4em;
      }
      a:hover {
        color: $fontBlueColor;
      }
    }
  }
  
  // カレンダー部分
  .calendar {
    text-align: center;
    .calendar-heading{
      padding: 5px 5px 0;
      a {
        color: $mainColorSkyblue;
        font-size: 1.5em;
        text-decoration: none;
      }
      a:hover {
        color: $fontBlueColor;
      }
      span {
        color: $fontBlueColor;
        font-size: 1.5em;
        padding: 0 20px;
      }
    }
    .calendar-day {
      height: 80px;
      font-size: 0.7em;
      &__outfit {
        width: 98%;
        height: 80%;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
          object-fit: cover;
        }
        img:hover {
          opacity: $hoverOpacity;
        }
      }
    }
    .table {
      width: 100%;
      margin: 0 auto;
      tr th:first-child {
        color: $mainColorRed;
      }
      tr th:last-child {
        color: $calendarFontBlue;
      }
      th {
        width: 14%;
        border-top: 1px solid $mainColorSkyblue;
        font-size: 14px;
      }
    }
  }
}

// タブレットサイズ
@media (min-width: 671px) {
  .container {
    padding: $tabletPadding;
    .calendar {
      .calendar-day {
        height: 140px;
        &__outfit {
          height: 90%;
        }
      }
    }
  }
}

// PCサイズ
@media (min-width: 1025px) {
  .container {
    display: flex;
    align-items: center;
    padding: $pcPadding;
    .style-img {
      margin-right: 20px;
      img {
        max-width: 300px;
      }
      &__logo {
        font-size: 20px;
      }
      &__date {
        font-size: 16px;
      }
    }
    .calendar {
      width: 100%;
      .calendar-day {
        height: 140px;
      }
    }
  }
}

