// スマホサイズ
.container {
  @include main-container;

  // コーディネートプレビュー
  .style-img {
    margin: 0 auto;
    margin-bottom: 30px;
    img {
      max-width: 200px;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
    }
    &__logo {
      text-align: center;
    }
    &__date {
      text-align: center;
      color: #8b8b8b;
      font-size: 14px;
    }
  }

  // カレンダー部分
  .calendar {
    text-align: center;
    .calendar-heading{
      padding: 5px;
    }
    .calendar-day {
      height: 65px;
    }
    .table {
      width: 100%;
      margin: 0 auto;
      tr th:nth-last-child(2) {
        color: $calendarFontBlue;
      }
      tr th:last-child {
        color: $calendarFontRed;
      }
      th {
        width: 14%;
        border: 0.5px solid $mainFontColor;
        font-size: 14px;
      }
    }
  }
}

// タブレットサイズ
@media (min-width: 671px) {
  .container {
    padding: $tabletPadding;
    .calendar {
      .calendar-day {
        height: 120px;
      }
    }
  }
}

// PCサイズ
@media (min-width: 1025px) {
  .container {
    display: flex;
    align-items: center;
    padding: $pcPadding;
    .style-img {
      margin-right: 20px;
      img {
        max-width: 300px;
      }
      &__logo {
        font-size: 20px;
      }
      &__date {
        font-size: 16px;
      }
    }
    .calendar {
      width: 100%;
      .calendar-day {
        height: 110px;
      }
    }
  }
}

