// カバー
.modal-cover {
  @include modal-cover;
}

// フォーム部分
.modal-form {
  @include modal-form;
  height: 530px;
  .user-close-icon {
    @include modal-close;
  }
  .user-close-icon:hover {
    opacity: $hoverOpacity;
  }
  &__content {
    @include modal-form-content;
    display: none;
    h2 {
      @include modal-form-head;
    }
    label {
      font-size: 18px;
    }
    input {
      width: 70%;
      height: 40px;
      margin-bottom: 10px;
      border: 0.5px solid $inputBorderColor;
    }
    #user_remember_me {
      width: 5%;
      height: 20px;
    }
    .actions {
      margin-top: 25px;
      .sign-form-btn {
        @include modal-submit-btn;
      }
      .sign-form-btn:hover {
        opacity: $hoverOpacity;
      }
    }
    .sign-change {
      font-size: 14px;
      color: $mainColorSkyblue;
      cursor: pointer;
      display: inline-block;
      margin-top: 15px;
    }
    .sign-change:hover {
      opacity: $hoverOpacity;
    }
  }
  .modal-close-text {
    @include modal-close-text;
    text-align: center;
    margin-top:10px;
    span:hover {
      opacity: $hoverOpacity;
    }
  }
}