
<div class="modal-cover"></div>
<div class="modal-form">
  <span class="user-close-icon user-form-close"><i class="fa fa-times"></i></span>

  <%# 新規登録 %>
  <div class="modal-form__sign-up modal-form__content">
    <h2>新規登録</h2>
    <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="qp6fV5xea3HMusQiVE4ZeHlnfCU2cbsdCBqZ4QeX+AB/pzqERgRuzryi2i3K3oijrZZQtogeVECUFPIQ4WiSpQ==">
  
      <div class="field">
        <label for="user_email">e-mail</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="メールアドレス" required>
      </div>

      <div class="field">
        <label for="user_password">password</label>
        <em>(6文字以上)</em>
        <br>
        <input autocomplete="new-password" type="password" name="user[password]" id="user_password" placeholder="パスワード" required>
      </div>

      <div class="field">
        <label for="user_password_confirmation">password confirmation</label><br>
        <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="パスワード確認" required>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up" class="sign-form-btn" id="sign-up-btn">
      </div>
    </form>
    <span class="sign-change change-sign-in">ログインはこちら</span>
  </div>

  <%# ログイン %>
  <div class="modal-form__sign-in modal-form__content">
    <h2>ログイン</h2>
    <form class="new_user" id="login_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="yRt82oFhIJEMrzCaSotuDgT8ML4EYqmA75TEKcUiph0cItkJWzslLny3LpXUG//V0A0cLboNRt1zmq/YI93MuA==">
      <div class="field">
        <label for="login_email">e-mail</label><br>
        <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="login_email" placeholder="メールアドレス" required>
      </div>

      <div class="field">
        <label for="login_password">password</label><br>
        <input autocomplete="current-password" type="password" name="user[password]" id="login_password" placeholder="パスワード" required>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Login" data-disable-with="Log in" class="sign-form-btn" id="sign-in-btn">
      </div>
    </form>
    <div class="test-user">
      <p>テスト用アカウント</p>
      <p class="test-user__text">--- e-mail ---<br>goutfit_t_user@gmail.com</p>
      <p class="test-user__text">--- password ---<br>goutfit_t_user</p>
      <p>テスト用画像</p>
      <%= button_to "テスト用画像のDL", download_path, method: :get, class: "test-dl" %>
    </div>
    <span class="sign-change change-sign-up">新規登録はこちら</span>
  </div>

  <div class="modal-close-text user-form-close">
    <span>閉じる</span>
  </div>
</div>