.container {
  padding: 30px 10px;
  .style-img {
    margin: 0 auto;
    margin-bottom: 30px;
    img {
      max-width: 200px;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
    }
    &__logo {
      text-align: center;
    }
    &__date {
      text-align: center;
      color: #8b8b8b;
      font-size: 14px;
    }
  }
}
